.about_container {
  display: flex;
  margin: 5rem auto;
  width: 80%;
  max-width: 1300px;
  justify-content: space-between;
  /* gap: 3rem; */
}

.about_info {
  text-align: center;
  width: 45%;
}

.about_photo {
  width: 22rem;
  height: 20rem;
  margin-bottom: 2rem;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.info_title,
.skills_title {
  font-size: 2rem;
}

.about_skills {
  background-color: rgb(9, 9, 35);
  width: 45%;
  color: white;
  text-align: center;
  padding: 2rem;
}

.skills_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;
}

.skills_container img {
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 750px) {
  .about_container {
    display: block;
    /* text-align: center; */
    width: 90%;
  }

  .about_photo {
    width: 100%;
  }

  .about_info {
    width: 100%;
    margin-bottom: 2.5rem;
  }

  .skills_container {
    text-align: center;
    display: block;
  }

  .about_skills {
    width: 100%;
  }
}
