.header {
  background: rgb(9, 9, 35) !important;
  height: 100vh;
  width: 100vw;
  padding-top: 8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 750px) {
  /* .header {
    padding-top: 8rem;
  } */
}
