.home_container {
  margin: 0 auto;
  width: 75%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.home_title {
  color: white;
  font-size: 3rem;
  display: block;
}

.home_name {
  color: pink;
}

.home_link {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  background-color: transparent;
  margin: 2rem auto;
  border: 2px solid white;
  padding: 0.8rem;
  width: 250px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.home_link:hover {
  background-color: rgb(42, 42, 143);
}

.home_link .button_arrow {
  transition: all 0.3s ease-in-out;
}

.home_link:hover .button_arrow {
  transform: rotate(90deg);
}

.home_picture {
  right: 0;
  top: -220px;
  height: 25rem;
  width: 25rem;
  clip-path: polygon(50% 10%, 94% 50%, 50% 90%, 7% 50%);
}

@media only screen and (max-width: 750px) {
  .home_container {
    display: block;
  }

  .home_title {
    font-size: 2rem;
  }

  .home_picture {
    margin: 0 auto;
    height: 20rem;
    width: 20rem;
  }
}

@media only screen and (max-width: 1200px) {
  .home_link .button_arrow {
    transform: rotate(90deg);
  }
}
