.home_link {
  text-decoration: none;
  color: white;
  background-color: transparent;
  margin: 2rem auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
}

.home_link:hover {
  background-color: rgb(42, 42, 143);
}

.home_link .button_arrow {
  transition: all 0.3s ease-in-out;
  margin-left: 0.5rem;
}

.home_link:hover .button_arrow {
  transform: rotate(90deg);
}

@media only screen and (max-width: 1200px) {
  .home_link .button_arrow {
    transform: rotate(90deg);
  }
}
