.home_button {
  font-size: 2rem;
  color: white;
  background-color: transparent;
  margin: 2rem auto;
  border: 2px solid white;
  padding: 0.8rem;
  width: 250px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.home_button:hover {
  background-color: rgb(42, 42, 143);
}

button .button_arrow {
  transition: all 0.3s ease-in-out;
}

.home_button:hover .button_arrow {
  transform: rotate(90deg);
}

@media only screen and (max-width: 1200px) {
  .home_button .button_arrow {
    transform: rotate(90deg);
  }
}
