.footer {
  width: 100%;
  background-color: rgb(9, 9, 35);
  color: white;
  padding-bottom: 1rem;
}

.footer h4 {
  margin: 1rem auto 0 auto;
  text-align: center;
}

.footer span {
  color: rgb(130, 130, 236);
}
